@model ChangePasswordViewModel

@{
    ViewBag.Title = "Смена пароля";
}


<body id="body-auth">
    <div class="row" style="margin:40px 0px 0px 0px">
        <h3 class="col-md-12 text-center">
            Смена пароля
        </h3>
    </div>


    <form enctype="multipart/form-data" asp-controller="Account" asp-action="ChangePassword" method="post">
        <div class="" style="margin:5% 30% 20% 35%">


            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="CurrentPassword" class="col-sm-6 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="CurrentPassword" class="form-control" title="Ваш пароль" placeholder="12345JQUery*" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="NewPassword" class="col-sm-6 col-form-label">Новый пароль</label>
                <div class="col-sm-6">
                    <input asp-for="NewPassword" class="form-control" placeholder="12345JQUery*"/>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ConfirmPassword" class="col-sm-6 col-form-label">Подтвердите пароль</label>

                <div class="col-sm-6">
                    <input asp-for="ConfirmPassword" class="form-control" title="" placeholder="12345JQUery*" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-inline">
                <button type="submit" class="btn btn-outline-primary btn-lg" 
                        style="margin-top:20px ;
                        background-color: white !important;">
                    Обновить 
                </button>
            </div>

        </div>
    </form>
</body>


